
<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All Workshops on offer </h1>
    </div>
  </div>


  <div class="row">
    <% @workshops.each do |flat| %>
      <div class="col-4">
        <div class="flat-card">
          <div class="flat-card-image" style="background-image: image_tag ("logo.png")"></div>
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4><%= flat.title %></h4>
            </div>
            <div class="flex">
              <div class="flex">
                <i class="material-icons mr-2">capacity</i><span><%= flat.capacity %></span>
              </div>
              <div class="flex ml-3">
                <i class="material-icons mr-2">euro_symbol</i> <%= flat.price %>
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <a href="#" class="ml-3 text-info">Sign Up</a>
            <a href="#" class="ml-3 text-danger"> Share </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
