
<%= @user.first_name %>
<%= @user.email %>


<%= link_to "Edit My Profile", edit_user_path(@user) %>

<%= link_to "Find Friends!", users_path %>



<h3>Here we have MY ORGANISATIONS</h3>
<% = %>





<h4>ACTIVE CLASSPASS</h4>


<h4>UPCOMING</h4>
<p>... tbc</p>

